#pragma code_page(65001)
#include <windows.h>

101 ICON "preview/app-icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "FileDescription", "0νββ 模型探索\0"
      VALUE "ProductName", "0νββ Model Explorer\0"
      VALUE "InternalName", "0nbb-model-explorer\0"
      VALUE "OriginalFilename", "0νββ 模型探索.exe\0"
      VALUE "FileVersion", "1.0.0\0"
      VALUE "ProductVersion", "1.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END

